.mid{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.mid-conte{
    /* margin: 20px 0 0 20px; */
    position: relative;
}
.mid-conte:hover{
    /* border: 2px red solid; */
    box-shadow: 5px 5px 5px black;
    /* z-index: 999; */
}
.pic{
    width: 25rem;
    height: 35vh;
}
.pic2{
    width: 25rem;
    height: 35vh;
}
.pic3{
    width: 25rem;
    height: 35vh;
}
.text{
    position: absolute;
    top: 5rem;
    left: 50px;
}
.text h2{
    color: red;
    font-size: 3rem;
}
.text h2:hover{
    color: darkorange;
}
.text h2 span{
    color: rgb(19, 4, 5);
}